<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Electric Bill</title>
    <link
      rel="styleshell"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css "
    />

    <style>
        .alert{
            background: green;
            padding: 1rem;
            border-radius: 5px;
            color: white;
            margin: 100;
        }

    </style>
  </head>
  <body>
   <div class="container">
       <h3>
           Electric Bill
       </h3>
   </div>

   <!-- Form -->
   <div class="container">
       <form action="/send" method="POST">
         <label for="Number One">Service Number</label>
         <input
           type="text"
           placeholder="Service Number"
           class="u-full-width"
           name="num1"
         />

         <label for="Number Two">Old Reading</label>
         <input
           type="text"
           placeholder="Old Reading"
           class="u-full-width"
           name="num2"
         />

         <label for="Number three">New Reading</label>
         <input
           type="text"
           placeholder="New Reading"
           class="u-full-width"
           name="num3"
         />

         

         <input type="submit" value="Submit" id="calc_btn" />


         <div class="alert">

             <p>Total number of units is</p>{{  amount  }}
             <p>Total Payable Amount is</p>{{  net_amount }}

         </div>     
  </body>
</html>
