<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Electric Bill</title>
    <link
      rel="styleshell"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css "
    />

    <style>
        .alert{
            background: green;
            padding: 1rem;
            border-radius: 5px;
            color: white;
            margin: 100;
        }

    </style>
  </head>
  <body>
   <div class="container">
       <h3>
           Electric Bill
       </h3>
   </div>

   <!-- Form -->
   <div class="container">
       <form action="/send" method="POST">

         <label for="Name">Enter your Name</label>
         <input
           type="text"
           placeholder="Enter your Name"
           class="u-full-width"
           name="name"
         />

         <label for="MD">Enter your md number</label>
         <input
           type="text"
           placeholder="Enter your md number"
           class="u-full-width"
           name="MD"
         />


         <label for="Number One">Service Number</label>
         <input
           type="text"
           placeholder="Service Number"
           class="u-full-width"
           name="num1"
         />

         <label for="Number Two">Old Reading</label>
         <input
           type="text"
           placeholder="Old Reading"
           class="u-full-width"
           name="num2"
         />

         <label for="Number three">New Reading</label>
         <input
           type="text"
           placeholder="New Reading"
           class="u-full-width"
           name="num3"
         />

         <label for="Number four">sanction_load</label>
         <input
           type="text"
           placeholder="sanction_load"
           class="u-full-width"
           name="num4"
         />

         <label for="Solar">Solar</label>
         <input
           type="text"
           placeholder="type yes or no"
           class="u-full-width"
           name="Solar"
         />

         
         <input type="submit" value="Submit" id="calc_btn" />


         <div class="alert">

             <p>1. Welcome to see your this month electricity bill :</p>{{ name }}
             <p>N O T E :</p>{{  G  }}
             <p>2. Total number of units is:</p>{{  units  }}
             <p>3. Total Energy charges is:</p>{{  total_amount }}
             <p>4. Total Fixed charges is:</p>{{  total_sanction_load }}
             <p>N O T E :</p>{{ s }}
             <p>5. This month electricty bill for you is:</p>{{ bill }}
             <p>:) Thank you</p>{{ name }}<p>Come Back again, Have a great day! </p>

         </div>     
  </body>
</html>
